In [14]:
import pandas as pd
path='../python-ml-course/datasets/'

In [64]:
data=pd.read_csv(path+'distributed-data/001.csv')
data.shape

(1461, 4)

In [66]:
for i in range(1,333):
    if(i<10):
        name_file='00'+str(i)
    elif(i<100):
        name_file='0'+str(i)
    else:
        name_file=str(i)
        
    temp_data=open(path+'distributed-data/'+name_file+'.csv')
    columns_name=temp_data.readline().strip().split(",")

    dummy_dataset={}

    cont=0
    for cn in columns_name:
        colum_name=cn.strip('"')       #Ajuste porque los encabezados tenian comillas
        columns_name[cont]=colum_name 
        dummy_dataset[colum_name]=[]   # dummy_dataset[cn]
        cont=cont+1                   
 
        
    for row in temp_data:
        row_data=row.strip().split(",")
        for column in range(len(columns_name)):
            if(column==0):
                dummy_dataset[columns_name[column]].append(row_data[column].strip('"')) #Ajuste porque los encabezados tenian comillas
            else:
                dummy_dataset[columns_name[column]].append(row_data[column])
    temp_dataset=pd.DataFrame(dummy_dataset)
            
        
    data=pd.concat([data,temp_dataset],axis=0) 

data.shape
data.tail()

           Date sulfate nitrate   ID
726  2004-12-27      NA      NA  332
727  2004-12-28      NA      NA  332
728  2004-12-29      NA      NA  332
729  2004-12-30      NA      NA  332
730  2004-12-31      NA      NA  332