In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv('../python-ml-course/datasets/gender-purchase/Gender Purchase.csv')
dataset.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
contigen_table=pd.crosstab(dataset['Gender'],dataset['Purchase'])
contigen_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [6]:
contigen_table.sum(axis=1)#suma horizontal

Gender
Female    265
Male      246
dtype: int64

In [7]:
contigen_table.sum(axis=0)#suma vertical

Purchase
No     231
Yes    280
dtype: int64

In [18]:
contigen_table.div(contigen_table.sum(axis=1),axis=0)#probabilidad horizontal

Purchase        No       Yes
Gender
Female    0.458874  0.567857
Male      0.541126  0.432143