# ¿Quien es mas probable que compre, un hombre o una mujer?

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv('../python-ml-course/datasets/gender-purchase/Gender Purchase.csv')
dataset.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

## Tablas de contigencia

En estadística las **tablas de contingencia** se emplean para registrar y analizar **la asociación entre dos o más variables**, habitualmente de naturaleza **cualitativa**

In [4]:
contigen_table=pd.crosstab(dataset['Gender'],dataset['Purchase'])
contigen_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [5]:
contigen_table.sum(axis=1)#suma horizontal

Gender
Female    265
Male      246
dtype: int64

In [6]:
contigen_table.sum(axis=0)#suma vertical

Purchase
No     231
Yes    280
dtype: int64

In [9]:
contigen_table.div(contigen_table.sum(axis=1),axis=0)#probabilidad horizontal

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## Ratio de Probabilidad
Cociente entre la probabilidad de los casos de exito y la probabilidad de los casos de fracaso.  
* **P(casos exito) / P(casos de fracaso)**

La premisa principal es: **¿Quien es mas probable que compre, un hombre o una mujer?**

La variable que conocemos es el **genero**: hombre y mujer

Por lo tanto los **casos de exito**:
* Que compre una mujer
* Que compre un hombre

In [12]:
compra_f=159/265 #caso de exito mujeres
compra_m=121/246 #caso de exito mujeres

In [11]:
ratio_f=compra_f/(1-compra_f) #159/106 (valores desde la tabla)
ratio_m=compra_m/(1-compra_m) #121/125 (valores desde la tabla)
print(ratio_f)
print(ratio_m)

1.4999999999999998
0.9680000000000002

 **Si el ratio > 1 Entonces es mas probable el caso de exito  
Si el ratio < 1 Entonces es mas probable el caso de fracaso**

Conclusion

* Es muy probable que la mujer compre
* Es muy probable que el hombre no compre  

Por lo tanto se concluye que **es mas probable que la mujer compre que el hombre**